body {
	background: grey;
}

*{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:aquamarine;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
	font-family: sans-serif;
	color: burlywood;
	text-shadow: 1px 1px white, -1px -1px #333;

	
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border: none ;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:burlywood;
	
} 

form input[type="submit"]:hover{
	cursor:pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.button:hover {
    background-color:darkslategray;
    transition-duration: 0.4s;
	color: white;
	
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

